$bg1: salmon;
$bg2: lightgreen;
$bg3: lightblue;
$bg4: orange;


.t-left {
  background: $bg1;
}

.t-middle {
  background: $bg2;
}

.t-right {
  background: $bg3;
}

.t-bottom {
  background: $bg4;
}


.demo0 {
 border-radius: 4px;
 background-color: rgb(240, 240, 232);
 position: relative;
 margin: 5px 3px 10px;
 width: 450px;
 height: 50px;
}
.demo0-block {
position: absolute;
width: 50px;
height: 50px;
border-radius: 4px;
background-color: rgb(130, 181, 198);
}

body {
  background: lightblue;
}

.cloud-wrapper {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
}

.folder-wrapper {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
}
//.cloud-animation {
//  transition: 5s;
//  transform: translateX(400px);
//}