.t-search {
  background: $main-content-left-bg;
  border: 0;
  color: inherit;
  transition: 0.4s;
  height: $navbar-height;
  text-align: center;

}

.t-search:focus {
  outline: none;
}

.t-search::placeholder {
  color: inherit;
}