.container-folder {
  margin-top: 20px;
  margin-left: 20px;
  position: relative;
  width: 100px;
  float: left;
  overflow: hidden;
}

.img-folder {
  height: 80px;
  cursor: pointer;
}

.description-folder {
  font-size: 14px;
  height: 33px;
  width: 100%;
}

.note-wrapper {
  height: 100%;
  position: relative;
}

.note-title {
  background: #d8d9da;
  padding: 10px;
  color: $navbar-bg;
  width: 100%;
}

.note-title-textinput {
  background: none;
  border: 0;
  padding: 10px;
  width: 100%;
  color: $font-active-sidebar;
  cursor: default;
}

.note-title-textinput:focus, .note-text-textarea:focus {
  outline: none;
}

.note-text-textarea {
  background: none;
  border: 0;
  padding: 10px;
  width: 100%;
  color: $font-main;
  resize: none;
  cursor: default;
}

.note-text-textarea::placeholder {
  color: $font-main;
}

.note-content {
  position: relative;
  padding: 10px;
  cursor: default;
}

.note-icon {
  position: absolute;
  height: 60px;
  width: 60px;
  bottom: 25px;
  right: 25px;

  img {
    cursor: pointer;
    height: 100%;
  }
}