// Fonts
$font-main: #a7aaac;
$font-active: #d8d9da;
$font-active-sidebar: #545d62;
$font-modal: #545d62;

// Backgrounds
$main-content-left-bg : #4f585c;
$main-content-right-bg : #636e73;
$navbar-bg : #3b4245;
$sidebar-active-bg: #90a4ae;

// Heights
$navbar-height : 50px;

// Borders
$main-content-left-border: #404648;

// Colors
$color1: #ff001f; // material design red
$color1: #0e9342; // material design green