.float-left {
  float: left;
}

.float-right {
  float: right;
}

.align-left {
  margin-right: 0;
}

.align-center {
  margin: auto;
}

.align-right {
  margin-left: auto;
}

.reset-padding {
  padding: 0;
}

.reset-margin {
  margin: 0;
}